Fluxo para sistema de Newsletter sobre IA.json
{
  "name": "Fluxo para sistema de Newsletter sobre IA",
  "nodes": [
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "a9b56395-d8f9-49cd-be3e-b739af8010da",
      "name": "Combinar Todas as Notícias",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ new Date($json.pubDate) > new Date(Date.now() - 7*24*60*60*1000) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fd6827d1-2272-4047-84ee-398c4a762be9",
      "name": "Filtrar Última Semana",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        704,
        496
      ]
    },
    {
      "parameters": {
        "maxItems": 15
      },
      "id": "ce377729-fb84-4e97-8d00-d13948679a98",
      "name": "Limitar a 15 Notícias",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        928,
        496
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "noticias",
        "options": {}
      },
      "id": "ec2614bf-6503-4f9a-a7bd-2af1452be255",
      "name": "Agrupar Notícias",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1152,
        496
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.noticias) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um analista de tendências de IA para o Inteli Academy. Analise as notícias fornecidas e classifique cada uma em uma das seguintes categorias: IA Generativa, Aprendizado de Máquina, Visão Computacional, Ética em IA, ou Aplicações em Setores. Para cada notícia, extraia o título, crie um resumo breve em português (2-3 frases), identifique a fonte, mantenha a URL original e a data de publicação. Retorne um array JSON com todas as notícias categorizadas e analisadas."
        }
      },
      "id": "2716d5eb-ae67-4870-bcf5-d05304ed0b41",
      "name": "Analisar e Gerar Relatório",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1376,
        496
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "c123255a-aa2e-4a4c-a4eb-da47d522e09c",
      "name": "OpenAI GPT-4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1392,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "uVAKhOBwGhL7272w",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "subject",
              "value": "📊 Relatório Semanal de IA - Inteli Academy",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "message",
              "value": "={{ $json.formattedReport }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "toRecipients",
              "value": "={{ $json.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e0744d4e-e707-468d-8f2c-bd78122dda59",
      "name": "Preparar Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        400
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.toRecipients }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "7878db49-97cd-4c98-820e-3285e848f8b6",
      "name": "Enviar via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2624,
        400
      ],
      "webhookId": "008f70ea-fbcb-4c08-b506-27d5cbb09e5f",
      "credentials": {
        "gmailOAuth2": {
          "id": "1PgcTOODx4oBm851",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "id": "27c67a1e-9288-4edb-8e92-351f034a73da",
      "name": "Rodar semanalmente",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        976
      ]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=artificial+intelligence",
        "options": {}
      },
      "id": "d697a297-3764-41c3-a4f6-b3c4229332ad",
      "name": "Google News (informações sobre IA)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        256,
        496
      ]
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/tag/artificial-intelligence/feed/",
        "options": {}
      },
      "id": "7b03db1d-d177-45d9-bd78-54114065d146",
      "name": "TechCrunch (informações sobre IA)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        256,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://www.technologyreview.com/topic/artificial-intelligence/feed",
        "options": {}
      },
      "id": "da14def5-7892-4e6c-bd04-8128467a4b18",
      "name": "MIT Tech Review (informações sobre IA)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        256,
        688
      ]
    },
    {
      "parameters": {
        "path": "a7d66677-54a3-4ca1-9c02-9510a9e7f12d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        400
      ],
      "id": "01be2e3e-cdb3-4fd9-9a8f-dd6e35d1eddc",
      "name": "Webhook",
      "webhookId": "a7d66677-54a3-4ca1-9c02-9510a9e7f12d"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('mesclar chamada').item.json.triggerSource }}",
                    "rightValue": "schedule",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1c0d28a5-6f4d-43e8-aa36-362d3be8559c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Schedule"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('mesclar chamada').item.json.triggerSource }}",
                    "rightValue": "webhook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "id-2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Webhook"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1728,
        496
      ],
      "id": "5110aa09-d262-488e-9dff-421b406ba113",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "triggerSource",
              "value": "schedule",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "493622a8-6abc-4611-8422-90fa8de3ec65",
      "name": "nomear semanal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        976
      ]
    },
    {
      "parameters": {},
      "id": "8cbe8481-f76a-4759-ae74-b821cad82dc0",
      "name": "mesclar chamada",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        32,
        416
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "news",
              "value": "={{ $json.output.news }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "bd522edf-e815-48da-87ad-73e53ec592bb",
      "name": "Preparar Resposta Frontend",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        704
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "df4dfe97-7491-4031-9397-4eed5bf72bfc",
      "name": "Responder ao Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2176,
        880
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "destinationEmail",
              "value": "={{ $json.query.email || $json.body.email || \"<__PLACEHOLDER_VALUE__recipient_email__>\" }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "triggerSource",
              "value": "webhook",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d11fa0b3-936f-4ed8-96e4-47dde24dd851",
      "name": "Extrair Email Destino",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        400
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"news\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"title\": {\n\t\t\t\t\t\t\"type\": \"string\",\n\t\t\t\t\t\t\"description\": \"The title of the news article\"\n\t\t\t\t\t},\n\t\t\t\t\t\"category\": {\n\t\t\t\t\t\t\"type\": \"string\",\n\t\t\t\t\t\t\"description\": \"Category: IA Generativa, Aprendizado de Máquina, Visão Computacional, Ética em IA, or Aplicações em Setores\"\n\t\t\t\t\t},\n\t\t\t\t\t\"summary\": {\n\t\t\t\t\t\t\"type\": \"string\",\n\t\t\t\t\t\t\"description\": \"Brief summary in Portuguese\"\n\t\t\t\t\t},\n\t\t\t\t\t\"source\": {\n\t\t\t\t\t\t\"type\": \"string\",\n\t\t\t\t\t\t\"description\": \"Source name (e.g., TechCrunch, Google News, MIT Tech Review)\"\n\t\t\t\t\t},\n\t\t\t\t\t\"url\": {\n\t\t\t\t\t\t\"type\": \"string\",\n\t\t\t\t\t\t\"description\": \"Original article URL\"\n\t\t\t\t\t},\n\t\t\t\t\t\"publishedAt\": {\n\t\t\t\t\t\t\"type\": \"string\",\n\t\t\t\t\t\t\"description\": \"Publication date in ISO format\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"required\": [\"title\", \"category\", \"summary\", \"source\", \"url\", \"publishedAt\"]\n\t\t\t}\n\t\t}\n\t},\n\t\"required\": [\"news\"]\n}"
      },
      "id": "e161d0c1-4b9a-4c4a-a575-d2543e8f405c",
      "name": "estruturar json para o front",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1520,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.destinationEmail }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ffdd64b3-0a77-41cb-880d-18cb66d66b7b",
      "name": "Verificar Se Email Existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -192,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "email",
              "value": "={{ $('Verificar Se Email Existe').item.json.destinationEmail }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "subscribedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5fe1715f-8237-44ea-a4ce-b644477556fa",
      "name": "Preparar Dados para Planilha",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        880
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1TqR6AIww35FgGbnPxE5jMmxK54T7AxaxA4x-Et0EUTk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TqR6AIww35FgGbnPxE5jMmxK54T7AxaxA4x-Et0EUTk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5e20a758-ec33-47aa-9067-40b7ec8191b0",
      "name": "Salvar Email na Planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        880
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fc38bcu0Ov8tJSnR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1TqR6AIww35FgGbnPxE5jMmxK54T7AxaxA4x-Et0EUTk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TqR6AIww35FgGbnPxE5jMmxK54T7AxaxA4x-Et0EUTk/edit#gid=0"
        },
        "options": {}
      },
      "id": "6846a221-cee9-4eb2-a462-afb3296149f7",
      "name": "Buscar Todos os Emails",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1728,
        1072
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fc38bcu0Ov8tJSnR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "email",
        "options": {}
      },
      "id": "26c94b01-2cf0-4200-83ec-3dfbebb8a435",
      "name": "Separar Emails",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1952,
        1072
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "e7d8ff46-c16a-4de6-a7e6-4c50537a47cf",
      "name": "Combinar Relatório com Emails",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2176,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "formattedReport",
              "type": "string",
              "value": "={{ (function() { const news = $json.output.news; const categories = {}; news.forEach(item => { categories[item.category] = (categories[item.category] || 0) + 1; }); let html = '<div style=\"font-family: Arial, sans-serif; max-width: 800px; margin: 0 auto; padding: 20px; background-color: #f5f5f5;\"><div style=\"background-color: white; padding: 30px; border-radius: 10px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\"><h1 style=\"color: #2c3e50; border-bottom: 3px solid #3498db; padding-bottom: 10px;\">📊 Relatório Semanal de IA - Inteli Academy</h1><div style=\"background-color: #ecf0f1; padding: 15px; border-radius: 5px; margin: 20px 0;\"><h2 style=\"color: #34495e; margin-top: 0;\">📈 Estatísticas da Semana</h2><p style=\"font-size: 16px; line-height: 1.6;\">'; Object.entries(categories).forEach(([cat, count]) => { html += '<strong>' + cat + ':</strong> ' + count + ' notícia' + (count > 1 ? 's' : '') + '<br>'; }); html += '</p></div><h2 style=\"color: #34495e; margin-top: 30px;\">🔥 Notícias Principais</h2>'; const grouped = {}; news.forEach(item => { if (!grouped[item.category]) grouped[item.category] = []; grouped[item.category].push(item); }); Object.entries(grouped).forEach(([category, items]) => { html += '<div style=\"margin: 25px 0;\"><h3 style=\"color: #3498db; border-left: 4px solid #3498db; padding-left: 10px;\">' + category + '</h3>'; items.forEach(item => { html += '<div style=\"background-color: #f8f9fa; padding: 15px; margin: 10px 0; border-radius: 5px; border-left: 3px solid #3498db;\"><h4 style=\"margin: 0 0 10px 0; color: #2c3e50;\"><a href=\"' + item.url + '\" style=\"color: #2c3e50; text-decoration: none;\">' + item.title + '</a></h4><p style=\"color: #555; line-height: 1.6; margin: 10px 0;\">' + item.summary + '</p><p style=\"color: #7f8c8d; font-size: 14px; margin: 5px 0;\"><strong>Fonte:</strong> ' + item.source + ' | <strong>Data:</strong> ' + new Date(item.publishedAt).toLocaleDateString('pt-BR') + '</p><a href=\"' + item.url + '\" style=\"color: #3498db; text-decoration: none; font-weight: bold;\">Ler mais →</a></div>'; }); html += '</div>'; }); html += '<div style=\"background-color: #e8f5e9; padding: 20px; border-radius: 5px; margin: 30px 0; border-left: 4px solid #4caf50;\"><h2 style=\"color: #2e7d32; margin-top: 0;\">💡 Oportunidades para o Inteli Academy</h2><p style=\"color: #555; line-height: 1.8;\">Com base nas tendências desta semana, identificamos oportunidades em:<ul style=\"color: #555; line-height: 1.8;\">' + Object.keys(categories).map(cat => '<li>Projetos práticos em <strong>' + cat + '</strong></li>').join('') + '</ul></p></div><div style=\"text-align: center; margin-top: 40px; padding-top: 20px; border-top: 1px solid #ddd;\"><p style=\"color: #7f8c8d; font-size: 14px;\">Este relatório foi gerado automaticamente pelo Sistema de Agregação de Notícias de IA</p><p style=\"color: #7f8c8d; font-size: 14px;\">Inteli Academy © 2026</p></div></div></div>'; return html; })() }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "7dbf379a-9c43-40ce-a1a8-fc9a6a272040",
      "name": "Formatar Relatório HTML",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        320
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1TqR6AIww35FgGbnPxE5jMmxK54T7AxaxA4x-Et0EUTk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.destinationEmail }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4c7d0935-6ef4-4cab-bd2a-cee8a33ac8c0",
      "name": "Buscar Email Existente",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        32,
        880
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fc38bcu0Ov8tJSnR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ !$('Buscar Email Existente').item.json.email }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "65018b5c-5098-486b-b33b-523998dd006d",
      "name": "Email Já Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        880
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Combinar Todas as Notícias": {
      "main": [
        [
          {
            "node": "Filtrar Última Semana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Última Semana": {
      "main": [
        [
          {
            "node": "Limitar a 15 Notícias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limitar a 15 Notícias": {
      "main": [
        [
          {
            "node": "Agrupar Notícias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar Notícias": {
      "main": [
        [
          {
            "node": "Analisar e Gerar Relatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4": {
      "ai_languageModel": [
        [
          {
            "node": "Analisar e Gerar Relatório",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analisar e Gerar Relatório": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Email": {
      "main": [
        [
          {
            "node": "Enviar via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rodar semanalmente": {
      "main": [
        [
          {
            "node": "nomear semanal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google News (informações sobre IA)": {
      "main": [
        [
          {
            "node": "Combinar Todas as Notícias",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "TechCrunch (informações sobre IA)": {
      "main": [
        [
          {
            "node": "Combinar Todas as Notícias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MIT Tech Review (informações sobre IA)": {
      "main": [
        [
          {
            "node": "Combinar Todas as Notícias",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extrair Email Destino",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Formatar Relatório HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Resposta Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nomear semanal": {
      "main": [
        [
          {
            "node": "mesclar chamada",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Todos os Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mesclar chamada": {
      "main": [
        [
          {
            "node": "MIT Tech Review (informações sobre IA)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google News (informações sobre IA)",
            "type": "main",
            "index": 0
          },
          {
            "node": "TechCrunch (informações sobre IA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Resposta Frontend": {
      "main": [
        [
          {
            "node": "Responder ao Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Email Destino": {
      "main": [
        [
          {
            "node": "Verificar Se Email Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "estruturar json para o front": {
      "ai_outputParser": [
        [
          {
            "node": "Analisar e Gerar Relatório",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Se Email Existe": {
      "main": [
        [
          {
            "node": "Buscar Email Existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mesclar chamada",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Preparar Dados para Planilha": {
      "main": [
        [
          {
            "node": "Salvar Email na Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Email na Planilha": {
      "main": [
        []
      ]
    },
    "Buscar Todos os Emails": {
      "main": [
        [
          {
            "node": "Separar Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Emails": {
      "main": [
        [
          {
            "node": "Combinar Relatório com Emails",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combinar Relatório com Emails": {
      "main": [
        [
          {
            "node": "Preparar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Relatório HTML": {
      "main": [
        [
          {
            "node": "Combinar Relatório com Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Email Existente": {
      "main": [
        [
          {
            "node": "Email Já Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Já Existe?": {
      "main": [
        [
          {
            "node": "Preparar Dados para Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a449a167-bb88-47f1-aedf-4f29a812cd17",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ad333589160be0a015e177bce71bcc6777cfd6a59cd2e1aef8b543f23f77dc6"
  },
  "id": "HiEruU9hbj8TbIrk",
  "tags": []
}